/*  ---------- ESTILOS PARA SITIO WEB CAFÉ OSLO ---------------- */

/* ---------ESTILOS GENERALES------------- */

*{
    box-sizing: border-box; 
 }
 
 body{
     font-family: 'Open Sans', sans-serif;
     font-size:16px;
     background: linear-gradient(#332525, #523e3e);
 }
 
 h1,h2{
     margin:0;
     padding: 0;
     line-height: 1.2em;
     text-transform: uppercase;
 }
 
 p{
     line-height: 1.5em;
 }
 
 li{
     list-style-type: none;
 }
 
 a{
     text-decoration: none;
 }

 .contenedorGlobal{
    max-width: 1250px;
    margin:0 auto;
    background-color: #FFF;
 }
 
 .separador{
     width: 40%;
     height: 2px;
     margin:10px auto;
     background: #FFF;
 }
 
 .zonaRoja{
     background: #d03b40;
     color:#ded6c0;
 }
 
 .zonaCrema{
     background: #ded6c0;
     color:#d03b40;
 }
 
 .zonaRoja, .zonaCrema{
     padding: 30px 16px;
     text-align: center;
 }
 
 .zonaRoja a{
     color:#ded6c0;
 }
 
 .zonaCrema a{
     color:#d03b40;
 }
 
 .zonaRoja a:hover, .zonaCrema a:hover{
     text-decoration: underline;
 }
 
 .boton{
     display: inline-block;
     margin:15px 0;
     padding: 10px;
     border: 2px solid #FFF;
     color:#FFF;
     text-transform: uppercase;
 }
 
 .boton:hover{
     background: #d03b40;
     color:#ded6c0;
     border-color: #d03b40;
 }
 
 /* ---------ESTRUCTURA------------- */
 
 .filaFlex{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }
 
 .ancho50{
     flex-basis: 50%;
 }
 
 .ancho100{
     flex-basis: 100%;
 }
 
 .noWrap{
     flex-wrap: nowrap;
 }
 
 
 /* -------------CABECERA PRINCIPAL ----------- */
 
 /* header */
 .header-principal{
     padding: 50px 60px;
     background-color: blueviolet;
     background-image: url('../imagenes/fondo1.jpg');
     background-size: cover;
     background-position: center center;
 
     color:#FFF;
 }
 
 /* zona superior del header*/
 .header-sup{
     margin:0 50px;
 }

 .iconoMenu{
    display:none;
    cursor: pointer;
 }
 
 .header-principal nav li{
     margin-right: 15px;
 }
 
 .header-principal nav a{
     color:#FFF;
     font-weight: 800;
     font-size: 0.9em;
     text-transform: uppercase;
 }
 
 .header-principal nav a:hover{
     color: #ee7276;
 }
 
 /* zona inferior del header con el texto */
 .textoCabecera{
     margin: 50px 90px 0 90px;
     text-align: center;
 }
 
 .textoCabecera h1{
     font-size: 3em;
 }
 
 /* ---------DESAYUNAR--------- */
 .desayunar{
     padding: 70px 50px;
     text-align: center;
     color:#FFF;
     background-image: url('../imagenes/fondo2.jpg');
     background-size: cover;
     background-position: 20% 0%;
 }
 
 .desayunar h2{
     font-size: 3em;
 }
 
 /* -------CARACTERÍSTICAS --------- */
 
 .caracteristicas{
     margin:32px 64px;
 }
 
 /* .caracteristicas section > div{
     border:4px solid green;
 }
 
 .caracteristicas section{
     border:8px solid blue;
 } */
 
 .textoCaracteristicas{
     margin:32px 32px 0 16px;
 }
 
 .icono img{
     width: 130px;
     height: 130px;
 }
 
 /* --------FOOTER PRINCIPAL -------- */
 .pie{
     padding: 20px;
     text-align: center;
     background: #251d1b;
     color:#ababab;
 }

 /* aunque seria correcto meter aqui media queries mejor hacer un nuevo archivo */