
/* ---------ESTILOS GENERALES------------- */

*{
    box-sizing: border-box; 
 }
 
 body{
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     background: linear-gradient(#332525, #523e3e);
 }
 
 h1,h2{
     text-transform: uppercase;
     margin-bottom: 15px;
 }
 
 p{
     line-height: 1.5em;
 }
 
 li{
     list-style-type: none;
 }
 
 a{
     text-decoration: none;
 }
 
 .separador{
     width: 40%;
     height: 2px;
     margin:10px auto;
     background: #FFF;
 }
 
 .zonaRoja{
     background: #d03b40;
     color:#ded6c0;
 }
 
 .zonaCrema{
     background: #ded6c0;
     color:#d03b40;
 }
 
 .zonaRoja, .zonaCrema{
     padding: 30px 16px;
     text-align: center;
 }
 
 .zonaRoja a{
     color:#ded6c0;
 }
 
 .zonaCrema a{
     color:#d03b40;
 }
 
 .zonaRoja a:hover, .zonaCrema a:hover{
     text-decoration: underline;
 }
 
 .boton{
     display: inline-block;
     margin:15px 0;
     padding: 10px;
     border: 2px solid #FFF;
     color:#FFF;
     text-transform: uppercase;
 }
 
 .boton:hover{
     background: #d03b40;
     color:#ded6c0;
     border-color: #d03b40;
 }
 
 /* ---------ESTRUCTURA------------- */
 
 .filaFlex{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }
 
 .noWrap{
     flex-wrap: nowrap;
 }
 
 .text-size{
    font-size: 1.5em;
 }
 
 /* -------------CABECERA PRINCIPAL ----------- */
 
 /* header */
 .header-principal{
     background-image: url('../imagenes/fondo1.jpg');
     background-size: cover;
     background-position: center center;
     color:#FFF;
     
 }
 
 /* zona superior del header*/
 
 .header-principal nav a{
     color:#FFF;
     font-size: 0.9em;
     text-transform: uppercase;
 }
 
 .header-principal nav a:hover{
     color: #ee7276;
 }

 /* ---------DESAYUNAR--------- */
 .desayunar{
     text-align: center;
     color:#FFF;
     background-image: url('../imagenes/fondo2.jpg');
     background-size: cover;
     background-position: 20% 0%;
 }
 

 
 /* -------CARACTERÍSTICAS --------- */
 
 

 
 .icono img{
     width: 130px;
     height: 130px;
 }
 
 /* --------FOOTER PRINCIPAL -------- */
 .pie{
     padding: 20px;
     text-align: center;
     background: #251d1b;
     color:#ababab;
 }

